# Prerequisites
*.d
*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Zz]ip/
.vs/
*.tlog
*.idb

# JSON offsets
offsets.json
client_dll.json
buttons.json
config/
config.json
